<div class="header">
  <h1>Members</h1>
</div>

<table>
  <thead>
    <th>Member</th>
    <th>Added On</th>
    <th>Present</th>
  <thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.created_at %></td>
      <%= simple_form_for member do |f| %>
        <td>
          <%= f.input :present, label: false %>
          <%= f.button :submit %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div>
  <button><a href="/members/new">Add Member</a></button>
  <button><a href="/families">Back to Families</a></button>
</div>
